<!-- INCLUDE overall_header.html -->
<!-- IF CODEBOX_PLUS_DOWNLOAD_AVAILABLE -->
<form action="{S_CODE_DOWNLOADER_ACTION}" method="post">
<div class="panel">
	<div class="inner">
		<div class="content">
			<h2>{L_CODEBOX_PLUS_CONFIRM}</h2>
			<fieldset class="fields1">
				<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
					<!-- DEFINE $CAPTCHA_TAB_INDEX = 1 -->
					<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
				<!-- ENDIF -->
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="submit" tabindex="2" value="{L_SUBMIT}" class="button1" /></dd>
				</dl>
			</fieldset>
		</div>
	</div>
</div>
{S_FORM_TOKEN}
</form>
<!-- ELSE -->
<div id="information" class="rules">
	<div class="inner">
		<strong>{L_INFORMATION}{L_COLON}</strong> {L_NO_ACTION}
	</div>
</div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
