<!-- IF CODEBOX_PLUS_AVAILABLE && CODEBOX_PLUS_IN_POSTING -->
<div id="core-bbcode-buttons">
	<select class="gensmall bbcode-size" name="addbbcode_codeboxplus" onchange="bbfontstyle('[Codebox=' + this.form.addbbcode_codeboxplus.options[this.form.addbbcode_codeboxplus.selectedIndex].value + ' file={L_CODEBOX_PLUS_DEFAULT_FILENAME}.' + this.form.addbbcode_codeboxplus.options[this.form.addbbcode_codeboxplus.selectedIndex].className.substring(9) + ']', '[/Codebox]');this.form.addbbcode_codeboxplus.selectedIndex = 0;" title="{L_CODEBOX_PLUS_SELECT}">
		<option value="0" selected="selected" style="display: none">{L_CODEBOX_PLUS_SELECT}</option>
		<option value="text" class="code_etx_txt" title="Plain Text">TXT (Text)</option>
		<option value="robots" class="code_etx_txt" title="Robots.txt">TXT (Robots.txt)</option>
		
		<option value="ada" class="code_etx_ada" title="Ada">ADA</option>
		<option value="autohotkey" class="code_etx_ahk" title="AutoHotKey">AHK (AutoHotKey)</option>
		<option value="actionscript" class="code_etx_as" title="Flash ActionScript">AS (ActionScript)</option>
		<option value="actionscript3" class="code_etx_as" title="Flash ActionScript 3">AS (ActionScript3)</option>
		<option value="asm" class="code_etx_asm" title="Assembly">ASM (Assembly)</option>
		<option value="asp" class="code_etx_asp" title="Active Server Pages">ASP</option>
		<option value="autoit" class="code_etx_au3" title="AutoIT">AU3 (AutoIT)</option>
		<option value="dos" class="code_etx_bat" title="DOS">BAT (DOS)</option>
		<option value="bash" class="code_etx_bsh" title="UNIX Bash">BSH (Bash)</option>
		<option value="c" class="code_etx_c" title="C">C</option>
		<option value="cobol" class="code_etx_cbl" title="COmmon Business Oriented Language">CBL (COBOL)</option>
		<option value="cmake" class="code_etx_cmake" title="CMakeFile">CMAKE</option>
		<option value="coffeescript" class="code_etx_coffee" title="CoffeeScript">COFFEE</option>
		<option value="cpp" class="code_etx_cpp" title="C++">CPP (C++)</option>
		<option value="csharp" class="code_etx_cs" title="C#">CS (C#)</option>
		<option value="css" class="code_etx_css" title="Cascade Style Sheets">CSS</option>
		<option value="d" class="code_etx_d" title="D">D</option>
		<option value="diff" class="code_etx_diff" title="Diff">DIFF</option>
		<option value="e" class="code_etx_e" title="E">E</option>
		<option value="fortran" class="code_etx_f" title="Fortran">F (Fortran)</option>
		<option value="fsharp" class="code_etx_fs" title="F#">FS (FSharp)</option>
		<option value="haskell" class="code_etx_hs" title="Haskell">HS (Haskell)</option>
		<option value="apache" class="code_etx_htaccess" title="Apache">HTACCESS (Apache)</option>
		<option value="html4strict" class="code_etx_html" title="HTML4 Strict">HTML (HTML4)</option>
		<option value="html5" class="code_etx_html" title="HTML5">HTML (HTML5)</option>
		<option value="ini" class="code_etx_ini" title="Windows Initialization">INI</option>
		<option value="inno" class="code_etx_iss" title="Inno Setup Script">ISS (Inno)</option>
		<option value="java" class="code_etx_java" title="Java">JAVA (Java)</option>
		<option value="java5" class="code_etx_java" title="Java 5">JAVA (Java 5)</option>
		<option value="javascript" class="code_etx_js" title="JavaScript">JS (JavaScript)</option>
		<option value="jquery" class="code_etx_js" title="jQuery">JS (jQuery)</option>
		<option value="kixtart" class="code_etx_kix" title="Kixtart">KIX (Kixtart)</option>
		<option value="lua" class="code_etx_lua" title="Lua">LUA</option>
		<option value="matlab" class="code_etx_m" title="MATrix LABoratory">M (MatLab)</option>
		<option value="make" class="code_etx_make" title="MakeFile">MAKE</option>
		<option value="nsis" class="code_etx_nsi" title="Nullsoft Scriptable Install System">NSI (NSIS)</option>
		<option value="delphi" class="code_etx_pas" title="Delphi">PAS (Delphi)</option>
		<option value="pascal" class="code_etx_pas" title="Pascal">PAS (Pascal)</option>
		<option value="php" class="code_etx_php" title="PHP Hypertext Preprocessor">PHP</option>
		<option value="php-brief" class="code_etx_php" title="PHP Hypertext Preprocessor">PHP (Brief)</option>
		<option value="perl" class="code_etx_pl" title="Perl">PL (Perl)</option>
		<option value="perl6" class="code_etx_pl" title="Perl 6">PL (Perl 6)</option>
		<option value="pcre" class="code_etx_pl" title="PCRE - Perl Compatible Regular Expressions">PL (PCRE)</option>
		<option value="properties" class="code_etx_properties" title="Properties">PROPERTIES</option>
		<option value="powershell" class="code_etx_ps1" title="Windows PowerShell">PS1 (PowerShell)</option>
		<option value="python" class="code_etx_py" title="Python">PY (Python)</option>
		<option value="ruby" class="code_etx_rb" title="Ruby">RB (Ruby)</option>
		<option value="reg" class="code_etx_reg" title="Windows Registry">REG (Registry)</option>
		<option value="scheme" class="code_etx_scm" title="Scheme">SCM (Scheme)</option>
		<option value="applescript" class="code_etx_scpt" title="AppleScript">SCPT (AppleScript)</option>
		<option value="mysql" class="code_etx_sql" title="MySQL">SQL (MySQL)</option>
		<option value="oracle8" class="code_etx_sql" title="Oracle 8">SQL (Oracle 8)</option>
		<option value="oracle11" class="code_etx_sql" title="Oracle 11">SQL (Oracle 11)</option>
		<option value="postgresql" class="code_etx_sql" title="PostgreSQL">SQL (PostgreSQL)</option>
		<option value="sql" class="code_etx_sql" title="Structured Query Language">SQL (SQL)</option>
		<option value="smalltalk" class="code_etx_st" title="SmallTalk">ST (SmallTalk)</option>
		<option value="latex" class="code_etx_tex" title="LaTeX">TEX (LaTeX)</option>
		<option value="verilog" class="code_etx_v" title="Verilog">V (Verilog)</option>
		<option value="vbnet" class="code_etx_vb" title="VB.NET">VB (VB.NET)</option>
		<option value="vb" class="code_etx_vb" title="Visual Basic">VB (VisualBasic)</option>
		<option value="vhdl" class="code_etx_vhdl" title="VHSIC Hardware Description Language">VHDL (VHSIC)</option>
		<option value="xml" class="code_etx_xml" title="eXtensible Markup Language">XML</option>
		<option value="yaml" class="code_etx_yml" title="YAML Ain't Markup Language">YML (YAML)</option>
		
		<option value="text" class="code_etx_txt" title="">================</option>
		
		<option value="4cs" class="code_etx_txt" title="GADV 4CS">GADV 4CS</option>
		<option value="6502acme" class="code_etx_txt" title="MOS 6502 (6510) ACME Cross Assembler 0.93">ACME Cross Assembler</option>
		<option value="6502kickass" class="code_etx_txt" title="MOS 6502 (6510) Kick Assembler 3.13">Kick Assembler</option>
		<option value="6502tasm" class="code_etx_txt" title="MOS 6502 (6510) TASM/64TASS 1.46 Assembler">TASM/64TASS</option>
		<option value="68000devpac" class="code_etx_txt" title="Motorola 68000 - HiSoft Devpac ST 2 Assembler">Motorola 68000</option>
		<option value="abap" class="code_etx_txt" title="ABAP">ABAP</option>
		<option value="algol68" class="code_etx_txt" title="ALGOL 68">ALGOL 68</option>
		<option value="apt_sources" class="code_etx_txt" title="Apt Sources">Apt Sources</option>
		<option value="arm" class="code_etx_txt" title="ARM Assembler">ARM Assembler</option>
		<option value="asymptote" class="code_etx_txt" title="Asymptote">Asymptote</option>
		<option value="autoconf" class="code_etx_txt" title="AutoConf">AutoConf</option>
		<option value="avisynth" class="code_etx_txt" title="AviSynth">AviSynth</option>
		<option value="awk" class="code_etx_txt" title="Awk">Awk</option>
		<option value="bascomavr" class="code_etx_txt" title="Bascom AVR">Bascom AVR</option>
		<option value="basic4gl" class="code_etx_txt" title="Basic4GL">Basic4GL</option>
		<option value="bf" class="code_etx_txt" title="Brainfuck">Brainfuck</option>
		<option value="bibtex" class="code_etx_txt" title="BibTeX">BibTeX</option>
		<option value="blitzbasic" class="code_etx_txt" title="BlitzBasic">BlitzBasic</option>
		<option value="bnf" class="code_etx_txt" title="BNF (Backus-Naur Form)">Backus-Naur Form</option>
		<option value="boo" class="code_etx_txt" title="Boo">Boo</option>
		<option value="c_loadrunner" class="code_etx_txt" title="C For LoadRunner">C For LoadRunner</option>
		<option value="c_mac" class="code_etx_txt" title="C For Mac">C For MAC</option>
		<option value="caddcl" class="code_etx_txt" title="CAD DCL (Dialog Control Language)">CAD DCL</option>
		<option value="cadlisp" class="code_etx_txt" title="AutoCAD/IntelliCAD Lisp">CAD Lisp</option>
		<option value="cfdg" class="code_etx_txt" title="CFDG">CFDG</option>
		<option value="cfm" class="code_etx_txt" title="ColdFusion">ColdFusion</option>
		<option value="chaiscript" class="code_etx_txt" title="ChaiScript">ChaiScript</option>
		<option value="cil" class="code_etx_txt" title="CIL (Common Intermediate Language)">Common Intermediate Language</option>
		<option value="clojure" class="code_etx_txt" title="Clojure">Clojure</option>
		<option value="cpp-qt" class="code_etx_txt" title="C++ (With Qt extensions)">CPP-QT</option>
		<option value="cuesheet" class="code_etx_txt" title="Cuesheet">Cuesheet</option>=
		<option value="dcl" class="code_etx_txt" title="DCL">DCL</option>
		<option value="dcpu16" class="code_etx_txt" title="DCPU/16 Assembly">DCPU/16 Assembly</option>
		<option value="dcs" class="code_etx_txt" title="DCS">DCS</option>
		<option value="div" class="code_etx_txt" title="DIV">DIV</option>
		<option value="dot" class="code_etx_txt" title="Dot">Dot</option>
		<option value="ecmascript" class="code_etx_txt" title="ECMAScript">ECMAScript</option>
		<option value="eiffel" class="code_etx_txt" title="Eiffel">Eiffel</option>
		<option value="email" class="code_etx_txt" title="Email (mbox\eml\RFC)">Email</option>
		<option value="epc" class="code_etx_txt" title="Enerscript">Enerscript</option>
		<option value="erlang" class="code_etx_txt" title="Erlang">Erlang</option>
		<option value="euphoria" class="code_etx_txt" title="Euphoria">Euphoria</option>
		<option value="f1" class="code_etx_txt" title="Formula One">Formula One</option>
		<option value="falcon" class="code_etx_txt" title="Falcon">Falcon</option>
		<option value="fo" class="code_etx_txt" title="FO (Abas-ERP)">Abas-ERP</option>
		<option value="freebasic" class="code_etx_txt" title="FreeBasic">FreeBasic</option>
		<option value="freeswitch" class="code_etx_txt" title="FreeSWITCH">FreeSWITCH</option>
		<option value="gambas" class="code_etx_txt" title="Gambas">Gambas</option>
		<option value="gdb" class="code_etx_txt" title="GDB">GDB</option>
		<option value="genero" class="code_etx_txt" title="Genero (FOURJ's Genero 4GL)">FOURJ's Genero 4GL</option>
		<option value="genie" class="code_etx_txt" title="Genie">Genie</option>
		<option value="gettext" class="code_etx_txt" title="GNU Gettext">GNU Gettext</option>
		<option value="glsl" class="code_etx_txt" title="glSlang">glSlang</option>
		<option value="gml" class="code_etx_txt" title="GML">GML</option>
		<option value="gnuplot" class="code_etx_txt" title="Gnuplot">Gnuplot</option>
		<option value="go" class="code_etx_txt" title="Go">Go</option>
		<option value="groovy" class="code_etx_txt" title="Groovy">Groovy</option>
		<option value="gwbasic" class="code_etx_txt" title="GwBasic">GwBasic</option>
		<option value="haxe" class="code_etx_txt" title="Haxe">Haxe</option>
		<option value="hicest" class="code_etx_txt" title="HicEst">HicEst</option>
		<option value="hq9plus" class="code_etx_txt" title="HQ9+">HQ9+</option>
		<option value="icon" class="code_etx_txt" title="Icon">Icon</option>
		<option value="idl" class="code_etx_txt" title="Uno Idl">Uno Idl</option>
		
	</select>
</div>
<!-- ENDIF -->