.codebox_plus_wrap
{
	padding: 3px;
	background-color: #FFFFFF;
	border: 1px solid #D8D8D8;
	font-size: 1em;
}

.codebox_plus_header
{
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 3px;
	font-size: 0.8em;
	font-weight: bold;
	display: block;
}

.codebox_plus_footer
{
	border-top: 1px solid #CCCCCC;
	margin-top: 3px;
	font-size: 0.8em;
	display: block;
	text-align: right;
}